# Script to get the data from Johns Hopkins CSSE

Getting and cleaning the data from the [2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE](https://github.com/CSSEGISandData/COVID-19).

This idea came from this [Kaggle dataset kernel](https://www.kaggle.com/imdevskp/corona-virus-report). I did some modifications in the code.

In [1]:
from urllib import request
import pandas as pd

## Downloading raw data

Since 23 March, CSSE no loger update files below! Thus, it was necessary to change the code.

For more info go to this [link](https://github.com/CSSEGISandData/COVID-19/issues/1250)

In [2]:
URLS = {"Confirmed":
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv', 
        "Deaths":
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv', 
        }

for url_key in URLS:
    print ("- Downloading", url_key, "...")
    request.urlretrieve(URLS[url_key], 'data/raw/new_{}_cases.csv'.format(url_key))
print ("- Done!")


confirmed = pd.read_csv('data/raw/new_Confirmed_cases.csv')
# recovered  =recv_df = pd.read_csv('data/raw/Recovered_cases.csv')
deaths = pd.read_csv('data/raw/new_Deaths_cases.csv')

confirmed.head()

- Downloading Confirmed ...
- Downloading Deaths ...
- Done!

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,22,22,24,24,40,40,74,84,94,110
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,59,64,70,76,89,104,123,146,174,186
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,74,87,90,139,201,230,264,302,367,409
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,39,53,75,88,113,133,164,188,224,267
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,1,2,2,3,3,3,4,4

## Cleaning and saving data

In [3]:
# Getting all dates
all_dates = confirmed.columns[4:]

new_confirmed = confirmed.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                            value_vars=all_dates, var_name='Date', value_name='Confirmed')

# new_recovered = recovered.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
#                             value_vars=all_dates, var_name='Date', value_name='Recovered')

new_deaths = deaths.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                            value_vars=all_dates, var_name='Date', value_name='Deaths')

clean_data = pd.concat([new_confirmed, new_deaths['Deaths']], axis=1)


clean_data.head()

  Province/State Country/Region      Lat     Long     Date  Confirmed  Deaths
0            NaN    Afghanistan  33.0000  65.0000  1/22/20          0       0
1            NaN        Albania  41.1533  20.1683  1/22/20          0       0
2            NaN        Algeria  28.0339   1.6596  1/22/20          0       0
3            NaN        Andorra  42.5063   1.5218  1/22/20          0       0
4            NaN         Angola -11.2027  17.8739  1/22/20          0       0

In [4]:
clean_data.to_csv("data/clean_data.csv")